@Html.ValidationSummary()

<form method="post" enctype="multipart/form-data" class="photoForm">
    <label>Brand</label>
    <select name="BrandID">
        @foreach (var item in Model.Brands)
        {
            <option value="@item.BrandID">@item.Name</option>
        }
    </select>
    <label>Category</label>
    <select name="CategoryID">
        @foreach (var item in Model.Categories)
        {
            <option value="@item.CategoryID">@item.Name</option>
        }
    </select>
    <label>Name</label>
    <input type="text" name="name" />
    <label>Sex</label>
    <select name="Sex">
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Unisex" selected>Unisex</option>
        <option value="Kids">Kids</option>
    </select>
    <label>Description</label>
    <input type="text" name="description" />
    <label>Weight</label>
    <input type="number" name="weight" />

    <!--
    <label>Upload image</label>
    <input type="file" name="image" />

    <input type="hidden" name="images" value="" />
    <input type="hidden" name="contenttype" value="" />
        -->
    <input type="submit" value="Add" />
</form>