@model IEnumerable<SiteUser>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<SiteUser> SignInManager
@inject UserManager<SiteUser> UserManager

<h1>Product Management</h1>

<h2>Add Shoes</h2>

<form method="post" enctype="multipart/form-data" class="photoForm">
    <label>Title</label>
    <input type="text" name="title" />
    <label>Upload image</label>
    <input type="file" name="photoUpload" />
    <input type="submit" value="Upload" />
</form>

