@model IEnumerable<Shoe>


<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-light border-bottom box-shadow mb-3">
    <div class="container">
        <!-- Customize the content of your second navbar as needed -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarNav"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between navbar-toggler-left">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ProductManagement">Manage</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="addshoe">Add New Shoe</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="addbrand">Add new Brand</a>
                </li>
                <!-- Add more items as needed -->
            </ul>
        </div>
    </div>
</nav>

<style>
    /* Add a CSS style to set a fixed height for the cards */
    .card {
        border: 1px solid black;
        width: 200px;
        height: 250px;
        display: flex;
        flex-direction: column;
        overflow:hidden;
    }

    /* Ensure images within cards scale proportionally and fit within the card height */
        .card img {
            height: auto;
            width: 100%;
            overflow: hidden;
        }
</style>
</style>

<h1>Manage all</h1>

<h2>List Shoes</h2>

<div class="row row-cols-1 row-cols-md-3 g-4">
    @{
        foreach (var item in Model)
        {
            <div class="col">
                    <div class="card">
                        <img src="@Url.Action("GetLogo","Products", new {id = item.BrandID})" class="card-img-top" alt="..."></img>
                        <div class="card-body">
                            <h4 class="card-title">@item.Brand.Name @item.Name</h4>
                            <h6 class="card-title">@item.Category.Name</h6>
                        </div>
                    </div>
            </div>
        }
    }
</div>
