@model IEnumerable<Brand>

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-light border-bottom box-shadow mb-3">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarNav"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between navbar-toggler-left">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link btn btn-success" asp-area="" asp-controller="Home" asp-action="ProductManagement">Manage</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-success" asp-area="" asp-controller="Products" asp-action="addshoe">Add New Shoe</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-success" asp-area="" asp-controller="Products" asp-action="addbrand">Add new Brand</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="display-4 text-success">Add New Brand</h2>

            <form id="BrandUploadForm" method="post" enctype="multipart/form-data" class="photoForm">
                <div class="mb-3">
                    <label for="brandName" class="form-label text-dark">Name</label>
                    <input type="text" class="form-control" id="brandName" name="Name" required />
                </div>

                <div class="mb-3">
                    <label for="countryOrigin" class="form-label text-dark">Country of Origin</label>
                    <input type="text" class="form-control" id="countryOrigin" name="country_of_origin" required />
                </div>

                <div class="mb-3">
                    <label for="foundedYear" class="form-label text-dark">Founded Year</label>
                    <input type="date" class="form-control" id="foundedYear" name="founded_year" required />
                </div>

                <div class="mb-3">
                    <label for="logoData" class="form-label text-dark">Logo</label>
                    <input type="file" class="form-control" id="logoData" name="logodata" required />
                </div>

                <button type="submit" class="btn btn-success">Add Brand</button>
            </form>
        </div>
    </div>
</div>

<h2>Existing Brands</h2>

<div class="row row-cols-1 row-cols-md-3 g-4">
    <table>
    @{
        foreach (var item in Model)
        {
            <tr>
                <td><img src="@Url.Action("GetLogo","Products", new {id = item.BrandID})" class="card-img-top" alt="..."></img></td>
                <td>@item.Name</td>
                <td>@item.Country_of_origin</td>
                <td>@item.Founded_year</td>
                <td><a href="/Products/removebrand?name=@item.Name">remove</a></td>
            </tr>
        }
    }
    </table>
</div>

