@model IEnumerable<Brand>

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-light border-bottom box-shadow mb-3">
    <div class="container">
        <!-- Customize the content of your second navbar as needed -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarNav"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between navbar-toggler-left">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ProductManager">Manage</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="addshoe">Add New Shoe</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="addbrand">Add new Brand</a>
                </li>
                <!-- Add more items as needed -->
            </ul>
        </div>
    </div>
</nav>



<h2>Add New Brand</h2>

<form id="BrandUploadForm" method="post" enctype="multipart/form-data" class="photoForm">
    <label>Brand</label>

    <label>Name</label>
    <input type="text" name="Name" />
    <label>Country of origin</label>
    <input type="text" name="country_of_origin" />
    <label>Founded year</label>
    <input type="date" name="founded_year" />
    <input type="file" name="logodata" />

    <input type="submit" value="Add Brand" />
</form>

<h2>Existing Brands</h2>

<div class="row row-cols-1 row-cols-md-3 g-4">
    <table>
    @{
        foreach (var item in Model)
        {
            <tr>
                <td><img src="@Url.Action("GetLogo","Products", new {id = item.BrandID})" class="card-img-top" alt="..."></img></td>
                <td>@item.Name</td>
                <td>@item.Country_of_origin</td>
                <td>@item.Founded_year</td>
                <td><a href="/Products/removebrand?name=@item.Name">remove</a></td>
            </tr>
        }
    }
    </table>
</div>

